---
group: Self Service
title: Reference Data
layout: self-service/views/_main
prevPage: views/home
---
{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    }
] %}

{% block main %}
    <h1>Access the reference datasets</h1>
    <p>Explore, query, and manage available reference datasets on the platform.</p>
{% endblock %}
