---
group: Self Service
title: Add Form Data
layout: self-service/views/_main
prevPage: views/tasklist/addforms/uploadjson
---
{% from "components/button/_macro.njk" import onsButton %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
        "text": "Migration tasks"
    }
] %}

{% block main %}
    <h1>Fortnightly Business Survey (123)</h1>

    <h2>Survey forms</h2>
    <p>All forms uploaded to SPP so far appear in the list below.</p>

    <!-- This container will be populated dynamically by index.js -->
    <div id="spp-forms-accordion-area" class="ons-u-mb-m">
        <!-- Default Empty State -->
        <div class="ons-panel ons-panel--info ons-panel--no-title ons-u-mb-m">
            <span class="ons-panel__assistive-text">Information</span>
            <div class="ons-panel__body">
                <p>No forms uploaded yet.</p>
            </div>
        </div>
    </div>

    <hr class="spp-section-divider" />

    <h2>Add or replace form</h2>
    <p>You can add more forms as they become available. You can replace existing forms so long as they have the same form ID.</p>

    {{
        onsButton({
            "text": "Add forms",
            "variants": "secondary",
            "url": pageInfo.rootPath + "/views/tasklist/addforms/uploadjson.html",
            "noIcon": true,
            "classes": "ons-u-mb-m",
            "id": "btn-add-forms"
        })
    }}

    <hr class="spp-section-divider" />

    <h2>Apply date adjustment to questions</h2>
    <p>You can specify which questions in the survey forms are applicable to have the 'date adjustment' method applied to them.</p>

    {{
        onsButton({
            "text": "Configure date adjustment",
            "variants": "secondary",
            "url": pageInfo.rootPath + "/views/tasklist/addforms/dateadjustment.html",
            "noIcon": true,
            "id": "btn-add-question-metadata"
        })
    }}

    <hr class="spp-section-divider" />

    <h2>Configure BDOD question settings</h2>
    <p>Comments can be turned on for specific questions to assist BDOD users with clearing.</p>
    <p>Responses to particular questions can be made read only during clearing.</p>

    {{
        onsButton({
            "text": "Configure BDOD settings",
            "variants": "secondary",
            "url": pageInfo.rootPath + "/views/tasklist/addforms/bdodsettings.html",
            "noIcon": true,
            "id": "btn-add-question-metadata"
        })
    }}

    <hr class="spp-section-divider" />

    <h2 class="ons-u-mt-l">Save progress and exit task</h2>

    {{
        onsButton({
            "text": "Return to task list",
            "variants": "secondary",
            "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
            "noIcon": true,
            "id": "btn-return-task-list"
        })
    }}
{% endblock %}
