---
group: Self Service
title: Add Question Metadata
layout: self-service/views/_main
prevPage: views/tasklist/addforms/formslist
---
{% from "components/button/_macro.njk" import onsButton %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
        "text": "Migration tasks"
    }
] %}

{% block main %}
    <h1>Add question metadata</h1>
    <p>This page allows you to manage and add metadata details for questions in this survey.</p>

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
            "noIcon": true,
            "id": "btn-save-question-metadata"
        })
    }}
{% endblock %}
