---
group: Self Service
title: Upload Survey Forms
layout: self-service/views/_main
prevPage: views/tasklist/tasklist
---
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
        "text": "Migration tasks"
    }
] %}

{% block main %}
    <h1>Upload survey forms</h1>
    <p>Add JSON files for each form in the survey.</p>
    <p>You can add multiple files.</p>

    {{
        onsUpload({
            "id": "survey-form-upload",
            "accept": ".json",
            "label": {
                "text": "Select survey form schema JSON files"
            }
        })
    }}

    {{
        onsPanel({
            "body": "<p>Due to file processing times, there may be a delay before loading the next page.</p>",
            "classes": "ons-u-mb-m"
        })
    }}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/views/tasklist/addforms/formslist.html",
            "noIcon": true,
            "id": "btn-save-forms"
        })
    }}
{% endblock %}
