---
group: Self Service
title: Migration Task List
layout: self-service/views/_main
prevPage: views/migrate
---
{% from "components/status/_macro.njk" import onsStatus %}

{% block main %}
    <h1>Migrate a survey</h1>
    <p>This page displays the progress of setting up a survey on the Statistical Preparation Platform. It shows which steps have been completed, and which tasks still need to be finished before we can test the data import for the survey.</p>

    <h2>Migration tasks</h2>

    <ul class="spp-task-list">
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="{{ pageInfo.rootPath }}/views/tasklist/addforms/uploadjson.html">Add survey forms</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "To do", "variant": "info" }) }}
            </span>
        </li>
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="#0">Choose reference datasets</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "To do", "variant": "info" }) }}
            </span>
        </li>
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="#0">Add constructed questions and values</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "Cannot start yet", "variant": "dead" }) }}
            </span>
        </li>
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="#0">Define validation rules</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "Cannot start yet", "variant": "dead" }) }}
            </span>
        </li>
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="#0">Choose validation methods</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "To do", "variant": "info" }) }}
            </span>
        </li>
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="#0">Configure prioritisation workflow and layout</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "To do", "variant": "info" }) }}
            </span>
        </li>
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="#0">Test survey set up</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "Cannot start yet", "variant": "dead" }) }}
            </span>
        </li>
        <li class="spp-task-list__item">
            <span class="spp-task-list__task-name">
                <a href="#0">Get Methodology approval</a>
            </span>
            <span class="spp-task-list__status">
                {{ onsStatus({ "label": "Cannot start yet", "variant": "dead" }) }}
            </span>
        </li>
    </ul>
{% endblock %}
