---
group: Self Service
title: Upload Survey Period Dates
layout: self-service/views/_main
prevPage: views/tasklist/refdata/providerefdataset
---
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/button/_macro.njk" import onsButton %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
        "text": "Migration tasks"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/refdata/selectrefdata.html",
        "text": "Choose reference datasets"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/refdata/providerefdataset.html",
        "text": "Uploaded reference datasets"
    }
] %}

{% block main %}
    <h1>Upload survey period dates</h1>
    <p>Upload the finalised CSV of survey period dates. You can find a <a href="#0">template CSV</a> on SPP.</p>

    {{
        onsUpload({
            "id": "period-dates-upload",
            "accept": ".csv",
            "label": {
                "text": "Select survey period dates CSV file"
            }
        })
    }}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/views/tasklist/refdata/providerefdataset.html",
            "noIcon": true,
            "id": "btn-save-period-dates"
        })
    }}
{% endblock %}
