---
group: Working Version
title: No task list
layout: no_task_list/views/_main
prevPage: views/configuration/deployment/versionadded
---

{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/card/_macro.njk" import onsCard %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Survey configuration"
    },
    {
        "url": pageInfo.rootPath + "/views/configuration/survey.html",
        "text": "NBS (001)"
    },
    {
        "url": pageInfo.rootPath + "/views/configuration/deployment/versions.html",
        "text": "Releases"
    }
] %}

{% block main %}
    <h1 id="version-details-h1">Release Details</h1>
    
{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "id": "release-details",
                        "rows": [
                            {
                                "id": "version-number-row",
                                "title": "Release number",
                                "itemsList": [
                                    {
                                        "id": "version-number",
                                        "valueList": [
                                            {
                                                "text": "3.2"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Release name",
                                "id": "version-name-row",
                                "itemsList": [
                                    {
                                        "id": "version-name",
                                        "valueList": [
                                            {
                                                "text": "2026 Final"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": pageInfo.rootPath + "/views/configuration/deployment/newversion.html"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "forms-row",
                                "title": "Forms included",
                                "itemsList": [
                                    {
                                        "id": "forms",
                                        "valueList": [
                                            {
                                                "text": "General form (123)"
                                            },
                                            {
                                                "text": "Shop form (234)"
                                            },
                                            {
                                                "text": "Petrol station form (345)"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "rules-row",
                                "title": "Validation rules",
                                "itemsList": [
                                    {
                                        "id": "rules",
                                        "valueList": [
                                            {
                                                "text": "rules_export.csv"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}

<h2 class="ons-u-mt-l">Deployments</h2>
<p>You can deploy the survey to the following environments.</p>

    {{
        onsCard({
            "title": {
                "id": 'uat',
                "text": 'Deploy to UAT',
                "url": pageInfo.rootPath + '/views/configuration/deployment/uatdeploy.html'
            },
            "body":{
                "id": 'uat-text',
                "text": 'Deploy this release to the User Acceptance Testing environment of SPP.'
            }
        })
    }}

    {{
        onsCard({
            "title": {
                "id": 'preprod',
                "text": 'Deploy to Preproduction',
                "url": pageInfo.rootPath + '/views/configuration/deployment/uatdeploy.html'
            },
            "body":{
                "id": 'preprod-text',
                "text": 'Deploy this release to the Preproduction testing environment of SPP.'
            }
        })
    }} 

    {{
        onsCard({
            "title": {
                "id": 'prod',
                "text": 'Deploy to Production',
                "url": pageInfo.rootPath + '/views/configuration/deployment/uatdeploy.html'
            },
            "body":{
                "id": 'prod-text',
                "text": 'Deploy this release to the Production environment of SPP.'
            }
        })
    }} 

{% endblock %}
