---
group: Self Service
title: Configure Date Adjustment
layout: latest/views/_main
prevPage: views/tasklist/addforms/formslist
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/table/_macro.njk" import onsTable %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
        "text": "Migration tasks"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/addforms/formslist.html",
        "text": "Forms list"
    }
] %}

{% block main %}
    <h1>Configure date adjustment</h1>
    <p>Select which questions in the survey forms can have date adjustment applied, and verify their response types.</p>

    {% set dateAdjustmentTable %}
        {{
            onsTable({
                "id": "date-adjustment-table",
                "ths": [
                    { "value": "Enable date adjustment", "thClasses": "spp-col-date-adj" },
                    { "value": "Q Code", "thClasses": "spp-col-qcode" },
                    { "value": "Question Label", "thClasses": "spp-col-question" },
                    { "value": "Response type", "thClasses": "spp-col-answertype" }
                ],
                "trs": [
                    {
                        "tds": [
                            { "value": '<div style="text-align: center; width: 100%;">N/A</div>' },
                            { "value": "Q1" },
                            { "value": "Start date" },
                            { "value": "Date" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<div style="text-align: center; width: 100%;">N/A</div>' },
                            { "value": "Q2" },
                            { "value": "End date" },
                            { "value": "Date" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q40" class="ons-checkbox__input" value="q40" /><label class="ons-checkbox__label" for="checkbox-date-adj-q40" aria-label="Select Q40"></label></span>' },
                            { "value": "Q40" },
                            { "value": "Total turnover" },
                            { "value": "Currency" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q41" class="ons-checkbox__input" value="q41" /><label class="ons-checkbox__label" for="checkbox-date-adj-q41" aria-label="Select Q41"></label></span>' },
                            { "value": "Q41" },
                            { "value": "Total amount receivable in respect of invoices raised during period" },
                            { "value": "Currency" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q42" class="ons-checkbox__input" value="q42" /><label class="ons-checkbox__label" for="checkbox-date-adj-q42" aria-label="Select Q42"></label></span>' },
                            { "value": "Q42" },
                            { "value": "Value of grants, donations, legacies, investments and incorporated income" },
                            { "value": "Currency" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q50" class="ons-checkbox__input" value="q50" /><label class="ons-checkbox__label" for="checkbox-date-adj-q50" aria-label="Select Q50"></label></span>' },
                            { "value": "Q50" },
                            { "value": "Number of employees" },
                            { "value": "Numeric" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q51" class="ons-checkbox__input" value="q51" /><label class="ons-checkbox__label" for="checkbox-date-adj-q51" aria-label="Select Q51"></label></span>' },
                            { "value": "Q51" },
                            { "value": "Number of male employees working more than 30 hours per week" },
                            { "value": "Numeric" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q52" class="ons-checkbox__input" value="q52" /><label class="ons-checkbox__label" for="checkbox-date-adj-q52" aria-label="Select Q52"></label></span>' },
                            { "value": "Q52" },
                            { "value": "Number of male employees working 30 hours or less per week" },
                            { "value": "Numeric" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q53" class="ons-checkbox__input" value="q53" /><label class="ons-checkbox__label" for="checkbox-date-adj-q53" aria-label="Select Q53"></label></span>' },
                            { "value": "Q53" },
                            { "value": "Number of female employees working more than 30 hours per week" },
                            { "value": "Numeric" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q54" class="ons-checkbox__input" value="q54" /><label class="ons-checkbox__label" for="checkbox-date-adj-q54" aria-label="Select Q54"></label></span>' },
                            { "value": "Q54" },
                            { "value": "Number of female employees working 30 hours or less per week" },
                            { "value": "Numeric" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q55" class="ons-checkbox__input" value="q55" /><label class="ons-checkbox__label" for="checkbox-date-adj-q55" aria-label="Select Q55"></label></span>' },
                            { "value": "Q55" },
                            { "value": "Any other details about your employees" },
                            { "value": "Text" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q101" class="ons-checkbox__input" value="q101" /><label class="ons-checkbox__label" for="checkbox-date-adj-q101" aria-label="Select Q101"></label></span>' },
                            { "value": "Q101" },
                            { "value": "How many sites do you have" },
                            { "value": "Numeric" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q102" class="ons-checkbox__input" value="q102" /><label class="ons-checkbox__label" for="checkbox-date-adj-q102" aria-label="Select Q102"></label></span>' },
                            { "value": "Q102" },
                            { "value": "How many new sites opened since the last period" },
                            { "value": "Numeric" }
                        ]
                    },
                    {
                        "tds": [
                            { "value": '<span class="ons-checkbox"><input type="checkbox" id="checkbox-date-adj-q103" class="ons-checkbox__input" value="q103" /><label class="ons-checkbox__label" for="checkbox-date-adj-q103" aria-label="Select Q103"></label></span>' },
                            { "value": "Q103" },
                            { "value": "Any other detail about your sites" },
                            { "value": "Text" }
                        ]
                    }
                ]
            })
        }}
    {% endset %}

    <div class="ons-u-mb-l">
        {{ dateAdjustmentTable | safe }}
    </div>

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/views/tasklist/addforms/formslist.html",
            "noIcon": true,
            "id": "btn-save-date-adjustment"
        })
    }}
{% endblock %}
