---
group: Self Service
title: Upload Survey Forms
layout: latest/views/_main
prevPage: views/tasklist/tasklist
---
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
        "text": "Migration tasks"
    }
] %}

{% block main %}
    <h1>Upload survey form</h1>
    <p>Add JSON files for each form in the survey.</p>
    <p>You must add forms one at a time.</p>
    <p>Each form needs to have additional metadata added to set it up in SPP.</p>

    {{
        onsUpload({
            "id": "survey-form-upload",
            "accept": ".json",
            "label": {
                "text": "Select survey form schema JSON files"
            }
        })
    }}

    {{
        onsInput({
            "id": "form-title",
            "name": "form-title",
            "fieldClasses": "ons-u-mt-m",
            "label": {
                "text": "Form title",
                "description": "A meaningful name for the form that distinguishes it from others in the survey."
            }
        })
    }}

    {{
        onsPanel({
            "body": "<p>Period start and end dates will be specified as part of deploying a survey's configuration to UAT, Pre-Production and Production environments.</p>",
            "classes": "ons-u-mb-m"
        })
    }}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/views/tasklist/addforms/formslist.html",
            "noIcon": true,
            "id": "btn-save-forms"
        })
    }}
{% endblock %}
