---
group: Working Version
title: No task list
layout: no_task_list/views/_main
prevPage: views/configuration/survey
---
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/configuration/survey.html",
        "text": "Survey"
    }
] %}

{% block main %}
    <h1>Upload survey form</h1>
    <p>Add a JSON file for each form in the survey.</p>
    <p>You must add forms one at a time.</p>

    {{
        onsUpload({
            "id": "survey-form-upload",
            "accept": ".json",
            "label": {
                "text": "Select survey form schema JSON file"
            }
        })
    }}

    {{
        onsInput({
            "id": "form-title",
            "name": "form-title",
            "fieldClasses": "ons-u-mt-m",
            "label": {
                "text": "Form title",
                "description": "A meaningful name for the form type that distinguishes it from others in the survey."
            }
        })
    }}

    {{
        onsPanel({
            "body": "<p>Period start and end dates will be specified as part of deploying a survey's configuration to test and production environments.</p>",
            "classes": "ons-u-mb-m"
        })
    }}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/views/configuration/forms/formslist.html",
            "noIcon": true,
            "id": "btn-save-forms"
        })
    }}
{% endblock %}
