---
group: Working Version
title: Version under development
layout: latest/views/_main
---
{% set breadcrumbs = [] %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <h1>Self Service Prototype</h1>
    <p>This is the version of the prototype currently under development and iteration.</p>
    {{
        onsButton({
            "text": "Go to SPP Home",
            "classes": "ons-u-mt-l",
            "url": pageInfo.rootPath + "/views/home.html",
            "noIcon": true
        })
    }}
{% endblock %}
