---
group: Working Version
title: No task list
layout: no_task_list/views/_main
prevPage: views/configuration/survey
---

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/configuration/survey.html",
        "text": "Survey"
    }
] %}

{% block main %}
    <h1>New Business Survey (123)</h1>
{% endblock %}
