---
group: Self Service
title: ABS345 Details
layout: self-service/views/_main
prevPage: views/tasklist/addforms/formslist
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/input/_macro.njk" import onsInput %}

{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    },
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate a survey"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/tasklist.html",
        "text": "Migration tasks"
    },
    {
        "url": pageInfo.rootPath + "/views/tasklist/addforms/formslist.html",
        "text": "Forms list"
    }
] %}

{% block main %}
    <h1>ABS345 metadata</h1>
    <p>Add the required metadata to configure the survey form on SPP.</p>

    <div class="ons-grid">
        {{
            onsTextarea({
                "id": "form-description",
                "name": "form-description",
                "rows": 2,
                "classes": "ons-u-w-full",
                "fieldClasses": "ons-grid__col ons-col-8@m",
                "value": "Convenience stores and supermarkets",
                "label": {
                    "text": "Form description"
                }
            })
        }}
    </div>

    {{
        onsInput({
            "id": "period-start",
            "name": "period-start",
            "classes": "ons-input--w-6",
            "fieldClasses": "ons-u-mt-m",
            "value": "042027",
            "label": {
                "text": "Period start",
                "description": "MMYYYY"
            }
        })
    }}

    {{
        onsInput({
            "id": "period-end",
            "name": "period-end",
            "classes": "ons-input--w-6",
            "value": "032028",
            "label": {
                "text": "Period end",
                "description": "MMYYYY"
            }
        })
    }}

    {{
        onsButton({
            "text": "Return to forms list",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/views/tasklist/addforms/formslist.html",
            "noIcon": true,
            "id": "btn-save-abs345"
        })
    }}
{% endblock %}
