---
group: Self Service
title: Work Prioritisation
layout: latest/views/_main
prevPage: views/home
---
{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/home.html",
        "text": "Home"
    }
] %}

{% block main %}
    <h1>Use the work prioritisation tool</h1>
    <p>Prioritise outstanding tasks, survey pursuits, and workload allocations.</p>
{% endblock %}
