---
group: Working Version
title: No task list
layout: no_task_list/views/_main
prevPage: views/migrate
---
{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate"
    }
] %}

{% block main %}
    <h1>Survey Configuration</h1>
    <p>This is a placeholder page for configuring the selected survey on the Statistical Preparation Platform.</p>
{% endblock %}
