---
group: Working Version
title: No task list
layout: no_task_list/views/_main
prevPage: views/migrate
---
{% from "components/card/_macro.njk" import onsCard %}
{% set breadcrumbs = [
    {
        "url": pageInfo.rootPath + "/views/migrate.html",
        "text": "Migrate"
    }
] %}

{% block main %}
    <h1>Survey Configuration</h1>
    <p>This survey is currently deployed to:</p>

    <div class="ons-grid">
        <div class="ons-grid__col ons-col-6@m">
            <div class="ons-card" style="border: 1px solid var(--ons-color-borders); border-radius: 4px; padding: 1.5rem; margin-bottom: 1.5rem; background: var(--ons-color-white); height: calc(100% - 1.5rem); box-sizing: border-box;">
                {{
                    onsCard({
                        "title": {
                            "id": "card-uat",
                            "text": "UAT"
                        },
                        "body": {
                            "id": "text-uat",
                            "text": "Version: 3.1 Quokka"
                        }
                    })
                }}
            </div>
        </div>
        <div class="ons-grid__col ons-col-6@m">
            <div class="ons-card" style="border: 1px solid var(--ons-color-borders); border-radius: 4px; padding: 1.5rem; margin-bottom: 1.5rem; background: var(--ons-color-white); height: calc(100% - 1.5rem); box-sizing: border-box;">
                {{
                    onsCard({
                        "title": {
                            "id": "card-production",
                            "text": "Production"
                        },
                        "body": {
                            "id": "text-production",
                            "text": "Version: 2.3 Llama"
                        }
                    })
                }}
            </div>
        </div>
    </div>
    <h2 class="ons-u-mt-l">Manage the survey configuration</h2>
    {{
        onsCard({
            "title": {
                "id": 'forms',
                "text": 'Survey forms',
                "url": pageInfo.rootPath + '/views/configuration/forms/formslist.html'
            },
            "body":{
                "id": 'forms-text',
                "text": 'Add new forms or update the existing ones.'
            }
        })
    }}
    {{
        onsCard({
            "title": {
                "id": 'rules',
                "text": 'Validation rules',
                "url": pageInfo.rootPath + '/views/configuration/rules/rules.html'
            },
            "body":{
                "id": 'rules-text',
                "text": 'Set up new, or reconfigure existing, validation rules.'
            }
        })
    }}
    {{
        onsCard({
            "title": {
                "id": 'reference_data',
                "text": 'Reference datasets'
            },
            "body":{
                "id": 'reference_data_text',
                "text": 'Adding new reference datasets must be done via Digital Services.'
            }
        })
    }}
    {{
        onsCard({
            "title": {
                "id": 'derived_questions',
                "text": 'Create derived questions and values'
            },
            "body":{
                "id": 'derived_text',
                "text": 'Creating new derived questions and values must be done via Digital Services.'
            }
        })
    }}
    {{
        onsCard({
            "title": {
                "id": 'versions',
                "text": 'Manage survey versions and deployments',
                "url": pageInfo.rootPath + '/views/configuration/deployment/versions.html'
            },
            "body":{
                "id": 'versions-text',
                "text": 'Configure a survey version that can be deployed, and trigger deployments to UAT or PROD.'
            }
        })
    }}
{% endblock %}
